<div class="w d-flex flex-column justify-content-center align-items-center">
  <div *ngIf="registerErrors">
    <p class="text-danger fs-4">{{ registerErrors }}</p>
  </div>

  <form [formGroup]="signupForm" (submit)="onSignup()" class="row g-3 bg-dark p-3 rounded">
    <div class="col-12">
      <label class="text-light">Email</label>
      <input type="text" class="form-control text-dark" value="email@example.com" formControlName="email">
    </div>
    <div class="col-12">
      <label class="text-light">Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <div class="col-12">
      <button [disabled]="!signupForm.valid" type="submit" class="btn btn-primary mb-3">Sign up</button>
    </div>
  </form>

</div>